.container {
    border: 2px;
    padding-left: 225px;
    margin: 10px 0px;
}

.mwid {
    border: 2px;
    margin: 10px 0px;
}

.l{
    display: inline-block;
    padding-left: 250px;

}
.m{
    display: inline-block;
    padding-left: 400px;
}
.r{
    display: inline-block;
    padding-left: 330px;
}
.c-1 {
    
    display: inline-block;
    width: 250px;
    margin: 10px 0px;
    padding: 11px;
}

.c-2 {
    
    display: inline-block;
    width: 250px;
    margin: 10px 0px;
    padding: 11px;
}

.c-3 {
    
    display: inline-block;
    width: 250px;
    margin: 10px 0px;
    padding: 11px;
}

.c-4 {
    
    display: inline-block;
    width: 250px;
    margin: 10px 0px;
    padding: 11px;
}

img {
    width: 100%;
    height: 375px;
}

h3 {
    width: 250px;
    height: 45px;
}

.about{
    border: 2px;
    padding-left: 390px;
    font-size: x-large;
}

.m2>img{
    padding-left: 100px;
    width: 900px;
    height: 450px;
}

.a1{
    padding-left: 460px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a2{
    padding-left: 455px;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a3{
    padding-left: 90px;
    padding-right: 268px;
     font-size: large;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}